@import '../../styles/variables';

.secret {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $_glitter;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
}

.name {
  font-weight: bold;
  color: #7153ac;
}
