@import '../styles/variables';

.header {
  background: $_spaceGradient;
  padding: 0 $grid-gutter-width;

  :global {
    .btn-icon {
      color: $light;
    }
  }

  height: 55px;
  display: flex;
  align-items: center;
}
